.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  background-color: #EDB4CA;
  position: fixed;
  z-index: 1000;
}
.header .header_link {
  text-decoration: none;
  color: #110F0E;
  font-family: "Darker-Grotesque", sans-serif;
  font-size: 32px;
  padding: 10px;
  margin: 10px;
  transition: 0.5s ease-in-out;
}
@media screen and (max-width: 800px) {
  .header .header_link {
    font-size: 16px;
  }
}
.header .header_link:hover {
  text-decoration: underline;
}
.header h1 {
  font-size: 48px;
  font-weight: normal;
  transition: 0.5s ease-in-out;
}
@media screen and (max-width: 800px) {
  .header h1 {
    font-size: 24px;
  }
}
@media screen and (max-width: 650px) {
  .header h1 {
    font-size: 20px;
  }
}
.header .header_now {
  text-decoration: underline;
}
.header .header_now:hover {
  text-decoration: none;
}

.works_header {
  background-color: #C3AED6;
}

.skills_header {
  background-color: #FFA999;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.bodys {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 5% 10%;
  width: 80%;
}

.home_body {
  background-color: #EDB4CA;
}
.home_body .grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  background-size: cover;
}
.home_body .grid .imgs {
  background-color: white;
  box-shadow: 0 4px 8px rgba(17, 15, 14, 0.1);
  grid-column: 1/-1;
  grid-row: 1/-1;
  height: 768px;
  width: 1366px;
}
@media screen and (max-width: 1600px) {
  .home_body .grid .imgs {
    height: 576px;
    width: 1024px;
  }
}
@media screen and (max-width: 1350px) {
  .home_body .grid .imgs {
    height: 480px;
    width: 854px;
  }
}
@media screen and (max-width: 1050px) {
  .home_body .grid .imgs {
    height: 360px;
    width: 640px;
  }
}
@media screen and (max-width: 800px) {
  .home_body .grid .imgs {
    height: 300px;
    width: 533px;
  }
}
@media screen and (max-width: 650px) {
  .home_body .grid .imgs {
    height: 240px;
    width: 426px;
  }
}
@media screen and (max-width: 530px) {
  .home_body .grid .imgs {
    height: 144px;
    width: 256px;
  }
}
.home_body .grid .div_filter {
  background-color: rgba(237, 180, 202, 0.6);
  grid-column: 1/-1;
  grid-row: 1/-1;
}
.home_body .texts {
  font-family: "Khand", sans-serif;
  color: #110F0E;
  font-size: 32px;
  z-index: 1;
  width: 30%;
  position: absolute;
  right: 0;
  bottom: 75px;
  text-align: right;
  background-color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 1350px) {
  .home_body .texts {
    font-size: 24px;
  }
}
@media screen and (max-width: 1050px) {
  .home_body .texts {
    font-size: 16px;
  }
}
@media screen and (max-width: 800px) {
  .home_body .texts {
    font-size: 12px;
    width: 50%;
  }
}
@media screen and (max-width: 650px) {
  .home_body .texts {
    width: 80%;
    bottom: 0;
  }
}
.home_body .welcome {
  font-size: 180px;
  font-family: "Khand", sans-serif;
  background-color: rgba(17, 15, 14, 0.08);
  color: transparent;
  position: absolute;
  text-shadow: 4px 4px 4px #EDB4CA;
  -webkit-background-clip: text;
}
@media screen and (max-width: 1050px) {
  .home_body .welcome {
    font-size: 120px;
  }
}
@media screen and (max-width: 800px) {
  .home_body .welcome {
    font-size: 80px;
  }
}
.home_body .div_me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
}
.home_body .div_me .me_in_photo {
  width: 400px;
  height: 400px;
}
@media screen and (max-width: 1050px) {
  .home_body .div_me .me_in_photo {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 800px) {
  .home_body .div_me .me_in_photo {
    width: 200px;
    height: 200px;
  }
}
.home_body .div_me .go_down {
  width: 96px;
  position: absolute;
  bottom: -46px;
}
@media screen and (max-width: 1050px) {
  .home_body .div_me .go_down {
    width: 62px;
  }
}
.home_body .div_me .go_down:hover {
  cursor: pointer;
}
.home_body .text_webdev {
  color: #110F0E;
  font-family: "Darker-Grotesque", sans-serif;
  font-size: 64px;
  width: 50%;
  text-align: center;
  z-index: 1;
}
@media screen and (max-width: 1600px) {
  .home_body .text_webdev {
    font-size: 48px;
  }
}
@media screen and (max-width: 800px) {
  .home_body .text_webdev {
    font-size: 32px;
    width: 50%;
  }
}
@media screen and (max-width: 800px) {
  .home_body .text_webdev {
    width: 75%;
  }
}
.home_body .text_iim {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 500px;
  width: 100%;
}
.home_body .items {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 48px;
  justify-content: flex-end;
}
.home_body .item2 {
  flex-direction: row-reverse;
}
@media screen and (max-width: 800px) {
  .home_body .item2 {
    flex-direction: row;
  }
}
.home_body .text_passions {
  text-align: left;
  left: 0;
}
@media screen and (max-width: 800px) {
  .home_body .text_passions {
    text-align: right;
    right: 0;
  }
}
.home_body .div_go_up {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.home_body .div_go_up .go_up {
  width: 96px;
  transform: rotate(180deg);
  padding-left: 0 16px 16px 0;
}
@media screen and (max-width: 1050px) {
  .home_body .div_go_up .go_up {
    width: 62px;
  }
}
.home_body .div_go_up .go_up:hover {
  cursor: pointer;
}

.skills_body {
  background-color: #FFA999;
}
.skills_body > :nth-of-type(2) {
  display: flex;
  justify-content: center;
}
.skills_body .skills_container {
  background-color: #FFA999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.skills_body .skills_container .div_logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px 0px;
}
.skills_body .skills_container .div_logos .logos {
  height: 150px;
  margin: 15px;
  border-radius: 25px;
}
@media screen and (max-width: 1050px) {
  .skills_body .skills_container .div_logos .logos {
    height: 100px;
  }
}
@media screen and (max-width: 800px) {
  .skills_body .skills_container .div_logos .logos {
    height: 70px;
    margin: 7px;
  }
}

.work_body {
  background-color: #C3AED6;
}

.work_container {
  background-color: #C3AED6;
}

.container_404 {
  background-color: black;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.container_404 .texts_404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
.container_404 .title_404, .container_404 .subtitle_404, .container_404 .try_it_later {
  font-family: "Khand", sans-serif;
  color: #FFD4CC;
  font-size: 100px;
  text-align: center;
}
.container_404 .title_404 {
  font-size: 150px;
}
.container_404 .try_it_later {
  font-size: 60px;
}
.container_404 .img_peter_blinder {
  height: 800px;
  filter: grayscale(100%);
}

.work_flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
}
.work_flex a {
  text-decoration: none;
}
.work_flex .projects {
  display: flex;
  flex-direction: row;
  padding: 48px 0;
  width: 100%;
  font-family: "Darker Grotesque", sans-serif;
}
@media screen and (max-width: 650px) {
  .work_flex .projects {
    flex-direction: column;
  }
}
.work_flex .projects .projects_img {
  height: 360px;
  width: 640px;
}
@media screen and (max-width: 1350px) {
  .work_flex .projects .projects_img {
    height: 240px;
    width: 426px;
  }
}
@media screen and (max-width: 800px) {
  .work_flex .projects .projects_img {
    height: 144px;
    width: 256px;
  }
}
.work_flex .projects .projects_texts {
  display: flex;
  flex-direction: column;
  margin: 32px;
}
@media screen and (max-width: 1050px) {
  .work_flex .projects .projects_texts {
    margin: 16px;
  }
}
@media screen and (max-width: 800px) {
  .work_flex .projects .projects_texts {
    margin: 8px;
  }
}
.work_flex .projects .projects_texts h3 {
  padding-bottom: 16px;
  color: #110F0E;
}
@media screen and (max-width: 1050px) {
  .work_flex .projects .projects_texts h3 {
    padding-bottom: 8px;
  }
}
@media screen and (max-width: 800px) {
  .work_flex .projects .projects_texts h3 {
    padding-bottom: 4px;
  }
}
.work_flex .projects .projects_texts p {
  color: #110F0E;
}
.work_flex .line {
  width: 50%;
  height: 2px;
  background-color: #110F0E;
  border-radius: 2px;
}

.assos_container .grid_assos {
  display: grid;
  height: 1000px;
  width: 80%;
  grid-template-columns: 640px 190px;
  grid-template-rows: 360px 360px;
  gap: 50px;
}
.assos_container .grid_assos .wireframe_img {
  grid-column: 1/2;
  grid-row: 1/2;
  height: 360px;
  width: 640px;
}
.assos_container .grid_assos .join_asso_img {
  grid-column: 2/3;
  grid-row: 1/2;
  height: 360px;
  width: 190px;
}
.assos_container .grid_assos .ui_img {
  grid-column: 1/2;
  grid-row: 2/2;
  height: 360px;
  width: 640px;
}
.assos_container .grid_assos .add_event_img {
  grid-column: 2/3;
  grid-row: 2/3;
  height: 360px;
  width: 190px;
}

.separation {
  border: 3px solid #110F0E;
  color: #333;
  text-align: center;
  width: 60%;
  margin-left: 20%;
  border-radius: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  width: 100%;
  height: 400px;
  bottom: 0;
}
@media screen and (max-width: 800px) {
  .footer {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.footer .icons {
  width: 40%;
  justify-content: center;
  display: flex;
}
.footer .icons .icon-github, .footer .icons .icon-insta {
  width: 96px;
  padding: 24px;
}
@media screen and (max-width: 800px) {
  .footer .icons .icon-github, .footer .icons .icon-insta {
    width: 62px;
  }
}
.footer .footer_texts {
  font-size: 48px;
  font-family: "Khand", sans-serif;
  color: #110F0E;
  padding: 24px;
}
@media screen and (max-width: 800px) {
  .footer .footer_texts {
    font-size: 24px;
    padding: 12px;
  }
}
@media screen and (max-width: 650px) {
  .footer .footer_texts {
    font-size: 18px;
  }
}
.footer .footer_link {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  color: #110F0E;
}
.footer .footer_link:hover {
  cursor: pointer;
}
@media screen and (max-width: 650px) {
  .footer .footer_link {
    padding-bottom: 5px;
  }
}
.footer .footer_others {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media screen and (max-width: 650px) {
  .footer .footer_others {
    flex-direction: column;
    align-items: center;
  }
}

.skills_footer {
  background-color: #FFA999;
}

.work_footer {
  background-color: #C3AED6;
}

/*# sourceMappingURL=style.css.map */
