* {
  margin: 0;
  padding: 0;
}

.home_body {
  background-color: #EDB4CA;
}

.container {
  padding: 5% 10%;
  width: 80%;
}
.container .imgs {
  height: 768px;
  width: 1366px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(17, 15, 14, 0.1);
}
.container .texts {
  font-family: "Khand", sans-serif;
  color: #110F0E;
  font-size: 24px;
  z-index: 1;
  width: 30%;
  position: absolute;
  right: 0;
  bottom: 50px;
  text-align: right;
}
.container .welcome {
  font-size: 180px;
  font-family: "Khand", sans-serif;
  background-color: rgba(17, 15, 14, 0.08);
  color: transparent;
  position: absolute;
  text-shadow: 4px 4px 4px #EDB4CA;
  -webkit-background-clip: text;
}
.container .div_me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
}
.container .div_me .me_in_photo {
  width: 400px;
  height: 400px;
}
.container .div_me .go_down {
  width: 96px;
  position: absolute;
  bottom: -46px;
}
.container .div_me .go_down :hover {
  cursor: pointer;
}
.container .text_webdev {
  color: #110F0E;
  font-family: "Darker-Grotesque", sans-serif;
  font-size: 64px;
  width: 50%;
  text-align: center;
  z-index: 1;
}
.container .text_iim {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 500px;
  width: 100%;
}
.container .items {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 48px;
}
.container .item2 {
  flex-direction: row-reverse;
}
.container .text_passions {
  text-align: left;
  left: 0;
}
.container .texts {
  background-color: rgba(255, 255, 255, 0.5);
}
.container .div_go_up {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.container .div_go_up .go_up {
  width: 96px;
  transform: rotate(180deg);
  padding-left: 0 16px 16px 0;
}
.container .div_go_up .go_up :hover {
  cursor: pointer;
}

.home_work {
  background-color: #C3AED6;
}

.separation {
  border: 2px solid #110F0E;
  color: #333;
  text-align: center;
  width: 60%;
  margin-left: 20%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  width: 100%;
  height: 300px;
}
.footer .icons {
  width: 40%;
  justify-content: center;
  display: flex;
}
.footer .icons .icon-github, .footer .icons .icon-insta {
  width: 64px;
  height: 64px;
  padding: 24px;
}
.footer .footer_text {
  font-size: 24px;
  font-family: "Khand", sans-serif;
  color: #110F0E;
  padding: 24px;
}
.footer .footer_link {
  text-decoration: underline;
  color: #110F0E;
}
.footer .footer_link:hover {
  cursor: pointer;
}
.footer .footer_others {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  background-color: #EDB4CA;
  position: fixed;
  z-index: 1000;
}
.header .header_link {
  text-decoration: none;
  color: #110F0E;
  font-family: "Darker-Grotesque", sans-serif;
  font-size: 32px;
  padding: 10px;
  margin: 10px;
  transition: 0.5s ease-in-out;
}
.header .header_link:hover {
  text-decoration: underline;
}
.header h1 {
  font-size: 48px;
  font-weight: normal;
}

.works_header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  background-color: #C3AED6;
  position: fixed;
  z-index: 1000;
}
.works_header .header_link {
  text-decoration: underline;
  color: #110F0E;
  font-family: "Darker-Grotesque", sans-serif;
  font-size: 32px;
  padding: 10px;
  margin: 10px;
  transition: 0.5s ease-in-out;
}
.works_header .header_link:hover {
  text-decoration: none;
}
.works_header h1 {
  font-size: 48px;
  font-weight: normal;
}

/*# sourceMappingURL=style.css.map */
