.header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    position: fixed;
    z-index: 1000;


    .header_link{
        text-decoration: none;
        color: $almost-black;
        font-family: 'Darker-Grotesque', sans-serif;
        font-size: 32px;
        padding: 10px;
        margin: 10px;
        transition: 0.5s ease-in-out;
    
    
        &:hover{
            text-decoration: underline;
        }
        
    }
    h1{
        font-size: 48px;
        font-weight: normal;
    }
    .header_now{
        text-decoration: underline;

        &:hover{
            text-decoration: none;
        }
    }
}

.works_header{
    background-color: $color-work;
}
.skills_header{
    background-color: $color-skills;
}

.header_blur{
    background-color: $color-home;
    filter: blur(50px);
    width: 100%;
    height: 100px;
    z-index: 1;
    position: fixed;
    top: 0;
}