.header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    background-color: $color-home;
    position: fixed;
    z-index: 1000;

    .header_link{
        text-decoration: none;
        color: $almost-black;
        font-family: 'Darker-Grotesque', sans-serif;
        font-size: 32px;
        padding: 10px;
        margin: 10px;
        transition: 0.5s ease-in-out;
    
    
        &:hover{
            text-decoration: underline;
        }
        
    }
    h1{
        font-size: 48px;
        font-weight: normal;
    }
}

.works_header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    background-color: $color-work;
    position: fixed;
    z-index: 1000;

    .header_link{
        text-decoration: underline;
        color: $almost-black;
        font-family: 'Darker-Grotesque', sans-serif;
        font-size: 32px;
        padding: 10px;
        margin: 10px;
        transition: 0.5s ease-in-out;
    
    
        &:hover{
            text-decoration: none;
        }
        
    }
    h1{
        font-size: 48px;
        font-weight: normal;
    }
}