*{
    margin: 0;
    padding: 0;
}
.home_body{
    background-color: $color-home;
}
.container{
    padding: 5% 10%;
    width: 80%;

    .grid{ 
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;       
        height: 768px;
        width: 1366px;
        background-size: cover;

        .imgs{
            background-color: $white;
            box-shadow: 0 4px 8px rgba($almost-black, 0.1);
            grid-column: 1/-1;
            grid-row: 1/-1;
        }
        .div_filter{
            background-color: rgba($color-home, 0.6);
            grid-column: 1/-1;
            grid-row: 1/-1;
        }
    }

    
    .texts{
        font-family: 'Khand', sans-serif;
        color: $almost-black;
        font-size: 24px;
        z-index: 1;
        width: 30%;
        position: absolute;
        right: 0;
        bottom: 75px;
        text-align: right;
        background-color: rgba(255,255,255, 0.5);
    }
    .welcome{
        font-size: 180px;
        font-family: 'Khand', sans-serif;
        background-color: rgba($color: $almost-black, $alpha: 0.08);
        color: transparent;
        position: absolute;
        text-shadow: 4px 4px 4px $color-home;
        -webkit-background-clip: text;

    }
    .div_me{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 100px;

        .me_in_photo{
            width: 400px;
            height: 400px;
        }
        .go_down{
            width: 96px;
            position: absolute;
            bottom: -46px;

            &:hover{
                cursor: pointer;
            }
        }
    }
    
    .text_webdev{
        color: $almost-black;
        font-family: 'Darker-Grotesque', sans-serif;
        font-size: 64px;
        width: 50%;
        text-align: center;
        z-index: 1;
    }
    .text_iim{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 500px;
        width: 100%;
    }
    .items{
        display: flex;
        flex-direction: row;
        position: relative;
        padding: 48px;
    }
    .item2{
        flex-direction: row-reverse;
    }
    .text_passions{
        text-align: left;
        left: 0;
    }
    
    .div_go_up{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        
        .go_up{
            width: 96px;
            transform: rotate(180deg);
            padding-left: 0 16px 16px 0;

            &:hover{
                cursor: pointer;
            }
        }
    }
}

.skills_container{
    background-color: $color-skills;

    .div_logos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 100px 0px ;

        .logos{
            height: 150px;
            margin: 15px;
            border-radius: 25px;
        }
    }
}

.home_work{
    background-color: $color-work;
}

.container_404{
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .texts_404{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
    }
    
    .title_404,.subtitle_404,.try_it_later{
        font-family: 'Khand', sans-serif;
        color: $orange_light;
        font-size: 100px;
        text-align: center;
    }
    .title_404{
        font-size: 150px;
    }
    .try_it_later{
        font-size: 60px;
    }
    .img_peter_blinder{
        height: 800px;
        filter: grayscale(100%);
    }
}